<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/">Home</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/help">Help</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/about">About</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
