<div>
    <input type="text" [(ngModel)]="fieldmodel.name"/>
    <select
            [(ngModel)]="fieldmodel.typeId"
            (change)="selectFieldType()"
    >
        <!--
            .slice(1) to skip first element of array t hat doesn't exist.
            Array types start at 1.
         -->
        <option *ngFor="let type of types.slice(1)" [value]="type.id">{{type.label}}</option>
    </select>

    <!-- Sub type selection, if any -->
    <select *ngIf="fieldmodel.typeId && types[fieldmodel.typeId].options" [(ngModel)]="fieldmodel.subtype">
        <option selected disabled [value]="0">{{ types[fieldmodel.typeId].options.name }}</option>
        <option *ngFor="let option of types[fieldmodel.typeId].options.options"
                [value]="option.id"
        >{{option.name}}</option>
    </select>

    <!-- Text input, if any -->
    <input type="text"
           [(ngModel)]="fieldmodel.subtype"
           *ngIf="fieldmodel.typeId && types[fieldmodel.typeId].textinput"
           [placeholder]="types[fieldmodel.typeId].textinputplaceholder"
    />
    <button type="button"
            class="btn btn-default"
            (click)="delete()"
            *ngIf="nbFormFields > 1"
    >-</button>

    <!--{{ diagnostic }}-->
</div>
