<h1>Test Mainform component</h1>
<pre>{{fields}}</pre>

<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="mainForm" novalidate *ngIf="apiFields.length > 0">
    <div class="form-group">
        <button type="button" (click)="addField()">+</button>
        <div formArrayName="fields">
            <div *ngFor="let field of fields.controls; let i=index" [formGroupName]="i">
                <field
                        name="field"
                        ngDefaultControl
                        [types]="apiFields"
                        [fieldForm]="field"
                ></field>
                <button type="button"
                        class="btn btn-default"
                        (click)="deleteField(i)"
                        *ngIf="fields.length > 1"
                >-</button>
                <hr/>
            </div>
        </div>
    </div>
</form>
<p *ngIf="loading">
    Loading...
</p>
<p>Main Form value: {{ mainForm.value | json }}</p>
<p>Main Form status: {{ mainForm.status | json }}</p>
<resulthtml [resultType]="resultType"></resulthtml>
{{ diagnostic }}
