<h1>Test Mainform component</h1>
<!--<pre>{{fields}}</pre>-->

<form *ngIf="apiFields.length > 0">
    <button type="button" class="btn btn-default" (click)="addField()">+</button>

    <div *ngFor="let formField of formFields; let index = index">
        <field
            [types]="apiFields"
            [nbFormFields]="formFields.length"
            [(fieldmodel)]="formFields[index]"
            (onDeleted)="onFieldDeleted($event)"
            name="field"
            ngDefaultControl
        ></field>
    </div>
</form>
<p *ngIf="loading">
    Loading...
</p>
{{ diagnostic }}
