<div *ngIf="result.length > 0">
    <!-- HTML -->
    <table class="table" *ngIf="resultType == 'html'">
        <thead>
            <tr>
                <th *ngFor="let record of resultHtmlHeader">
                    {{ record }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of resultHtml">
                <td *ngFor="let column of record">
                    {{ column }}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- CSV -->
    <pre *ngIf="resultType == 'csv'">
{{ resultCsv }}
    </pre>

    <!-- SQL -->
    <pre *ngIf="resultType == 'sql'">
{{ resultSql }}
    </pre>
</div>
